.sider-wrapper {
    border-right: 1px solid #ebedf0;
    height: calc(100vh - 64px - 40px);
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    overflow-y: auto;
    .sider-avatar {
        width: 132px;
        height: 132px;
        border-radius: 50%;
    }
    .name {
        font-size: 1.5em;
        font-weight: 700;
        margin-top: 10px;
    }
    .title {
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .link-list {
        width: 160px;
        line-height: 24px;
        margin: 0 auto;
        display: flex;
        justify-content: space-arount;
        a {
            vertical-align: top;
            padding-left: 5px;
            color: inherit;
        }
        li {
            padding: 0 4px;
            cursor: pointer;
        }
        li:hover {
            border-radius: 4px;
            background: #eee;
        }
    }
}